.App {
  text-align: center;
}

.App-logo,.App-logo-anti {
  height: 40vmin;
  pointer-events: none;
}

.App-svg,.App-svg-anti {
  fill: white;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo,.App-svg {
    animation: App-logo-spin infinite 25s linear;
  }
  .App-logo-anti,.App-svg-anti {
    animation: App-logo-antispin infinite 25s linear;
  }
}

.App-header {
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-main {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer {
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes App-logo-antispin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.square {
  min-width: 80px;
  min-height: 80px;
  font-size: 1.6em;
  text-align: center;
  vertical-align: middle;
}

.homeBase {
  margin-top: 300px;
}

.accountController {
  margin-top: 50px;
}

.community {
  margin-top: 50px;
}

.game {
  justify-content: start;
  margin-top: 100px;
  font-size: 1em;
}

.game-board {
  font-size: 1em;
}

.game-info {
  font-size: 1em;
}
